@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("@mdi/font/css/materialdesignicons.css");

body {
  @apply text-white;
  font-family: "Roboto", sans-serif;
  overscroll-behavior-y: none;
}

/* Bootstrap carousell style changes */
.carousel-indicators button {
  width: 11px !important;
  height: 11px !important;
  border-radius: 100%;
}

.fit-content {
  width: fit-content;
}

.carousel-indicators {
  margin: -4px;
}