@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-white;
  font-family: "Roboto", sans-serif;
  overscroll-behavior-y: none;
}

.carousel-indicators button {
  width: 11px !important;
  height: 11px !important;
  border-radius: 100%;
}

.carousel-indicators {
  margin: -4px;
}
