@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("@mdi/font/css/materialdesignicons.css");

body {
  @apply text-white;
  font-family: "Roboto", sans-serif;
  overscroll-behavior-y: none;
}

.fit-content {
  width: fit-content;
}

.carousel-indicators {
  margin: -4px;
}